

PlayerName : @ScoreBoard.PlayerName

<div class="card bg-secondary">
  <div class="card-body">
    <h5 class="card-title">Q. What does CSS stands for?</h5>
      <div class="col-xs-3 5"> </div>
        <div class="quiz" id="quiz" data-toggle="buttons">
            <div class="container d-grid gap-2">
                <div class="row">
                    <label class="element-animation1 btn btn-lg btn-info btn-block">
                    <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q_answer" value="1"> Computer Style Sheets</label> 
                </div>
                <div class="row">
                     <label class="element-animation2 btn btn-lg btn-info  btn-block">
                     <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                     <input type="radio" name="q_answer" value="2">Cascading Style Sheets</label> 
                </div>
                  <div class="row">
                     <label class="element-animation3 btn btn-lg btn-info  btn-block">
                     <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                     <input type="radio" name="q_answer" value="3">Creative Style Sheets</label> 
                </div>
                <div class="row">     
                    <label class="element-animation4 btn btn-lg btn-info btn-block">
                    <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                    <input type="radio" name="q_answer" value="4"> Colorful Style Sheets </label> 
                </div>
            </div>
            
           </div>
  </div>
</div>

@code {

    [Parameter]
    public ScoreBoardModel ScoreBoard { get; set; }

}
