@page "/"
@using System.Threading;



<PageTitle>Index</PageTitle>
<h1 class="mititulo">Reto de MoureDev. Finalmente!</h1>

Applicación de Quizzes:

prueba de botón







<!-- designed by me... enjoy! -->



@code {


  

}

