@page "/mastergamepage"

<div class="container gap-3">

    @if (_isScoreBoardVisible == true)
    {
    <!--Score board row-->
   @* <div class="row">
        <div class="sticky-top" >
          <ScoreBoard ScoreBoardModel="_scoreBoard"></ScoreBoard>
       </div>
    </div>*@
    <!--Score board row-->
    }
    <br />
    
    @if (_isPlayerBoxVisible == true)
    {
     <!--Player Name row-->
    <div class="row">
        <div class="position-relative"  style="width:100%; height:300px;" >
              <div class="position-absolute top-50 start-50 translate-middle w-100">
                  <PlayerComponent ShowCategoriesClick="ShowCategoriesComponent" ScoreBoard="_scoreBoard"></PlayerComponent>
              </div>
        </div>
    </div>
    <!--Player Name row-->
    }
  
    <!--Categories-->
    @if (_isCategoryVisible == true)
    {
        <div class="row ">
            <CategoryComponent  CategoryChanged="SelectedCategory" ></CategoryComponent>
        </div>        

    }
      <!--Categories-->

    @if (_isQuizzVisbile == true)
    {
    
    <!--Quizz row-->
    <div class="row">
        <div class="col-lg-12">
            <QuestionsComponent ScoreBoard="_scoreBoard" CategoryModel="_categoryModel" OnGameEnd="OnGameFinished"></QuestionsComponent>
        </div>
    
    </div>
    <!--Quizz row-->
    }

    @if(_isGameFinished ==true)
    {
        <div class="row">
        <div class="col-lg-12">
            <EndQuizComponent ScoreBoard="_scoreBoard"></EndQuizComponent>
        </div>
    
    </div>
    }

    <br />
  
</div>


@code {
    private Boolean _isScoreBoardVisible = false;
    private Boolean _isPlayerBoxVisible = false;
    private Boolean _isCategoryVisible = false;
    private Boolean _isQuizzVisbile = false;
    private Boolean _isCountDownVisibile = false;
    private Boolean _isGameFinished = false;
    private string _playerName = "";
    private CategoryModel _categoryModel = new CategoryModel();
    private ScoreBoardModel _scoreBoard = new ScoreBoardModel();
    


    protected override void OnInitialized()
    {
        ShowPlayerComponent();
    }

    private void StartQuizz()
    {
        var newQuizz = new QuizzGame(_playerName);
        newQuizz.CreateGame();
    }

    private void ShowPlayerComponent()
    {
        _isPlayerBoxVisible = true;
    }

    private void ShowCategoriesComponent()
    {
        _isCategoryVisible = true;
        _isPlayerBoxVisible = false;
        _playerName = _scoreBoard.PlayerName;
    }

    private void ShowQuizzComponent()
    {
        _isQuizzVisbile = true;
        _isScoreBoardVisible = true;
        _isCountDownVisibile = true;
        _isCategoryVisible = false;
    }

    private void SelectedCategory(CategoryModel category)
    {
        _categoryModel.id = category.id;
        _categoryModel.name = category.name;
        ShowQuizzComponent();
    }

    private void OnGameFinished(ScoreBoardModel scoreBoard)
    {
        _scoreBoard = scoreBoard;
        _isGameFinished = true;
        _isQuizzVisbile = false;
    }



}
